<div class="pb-5 pt-5 text-white-50 text-center" style="background-color: slategrey;">
    <h1>
      WELCOME TO MAquiz 
    <i class="fa-solid fa-file-lines"></i>
    </h1>
    <p>
      here you can create or take a quiz , with compititve leaderboard
    </p>
  </div>
</div>

<div style="background-color: rgb(26, 26, 41);">
<div class="container">
  <div class="row text-center pt-5 pb-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
          enter a quiz 
          <i class="fa-solid fa-file-circle-plus"></i>
        </h5>
        <p class="card-text">
          <a class="btn btn-primary" href="/alltests"> search for quiz </a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          create or edit a quiz
          <i class="fa-regular fa-pen-to-square"></i>
        </h5>
        <p class="card-text">
          <a class="btn btn-success" href="/createtest"> craeat a new quiz </a>
        </p>
      </div>
    </div>
  </div>
  </div>
</div>
</div>